button {
  color: rgb(143, 173, 255);
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(255, 215, 38);
  border-radius: 20px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  border-style: solid ;
  border-color: white;
  box-shadow: 3px 3px 3px  rgba(46, 44, 44, 0.1);
  letter-spacing: 2px; 

  
}

button:hover {
  color: white;
  box-shadow: 10px 10px 10px  rgba(46, 44, 44, 3);
  }

button:active {
    background-color: rgb(255, 0, 0);
}